body {
    background-color:#004c8c; 
    font-family: 'Roboto', sans-serif;
    color: #ffffff; 
}

h1, h2 {
    font-family: 'Poppins', sans-serif; 
}

.landing-page {
    /* display: inline-block; */
    width: 1000px;
    margin: 0 auto;
    /* outline helps with laying out stuff */
    outline: 1px solid red;
}

.explain-box {
    /* display: inline-block;  */
    width: 600px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;  
    background-color: #e0e0e0;
    border: 1px solid #aeaeae; 
    border-radius: 5px;
}

#search-form {
    /* display: inline-block; */
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    width: 600px;
    height: 30px; 
    font-size: 14px; 
    color: #ffffff;
    background-color: #004c8c;
    border: none;
    border-bottom: 2px solid #ffffff;
    /* border-radius: 5px;     */
}

input[type=text]:focus {
    border: 3px solid #e0e0e0;
}

::placeholder {
    color: #ffffff;
}

.js-searchlocation {
    padding: 12px 20px;
    background-image: url(assets/ic_search_black_24dp_2x.png);  
}

button {
    height: 30px; 
    font-size: 14px;
    background-color: #ffffff;  
    border-radius: 5px; 
}

.weather-card {
    /* margin: 0 auto; */
    /* float: left;  */
    display: inline-block;
    padding: 5px;
    color: #000000;  
    background-color: #e0e0e0;
    border: 1px solid #aeaeae; 
    border-radius: 5px;
}  

footer {
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

/* .forecast-text {
    text-align: center;
} */

/* .landing-page {
    background-image: url("https://static.pexels.com/photos/386009/pexels-photo-386009.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
} */

