body {
    /* background-color:#004c8c; */
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Poppins', sans-serif; 
}

/* .weather-content {
     display: inline-block; 
} */

/* .landing-page {
    background-image: url("https://static.pexels.com/photos/386009/pexels-photo-386009.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
} */

